:root {
  --main-height: 100vh;
  --main-width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
}


@font-face {
  font-family: 'norsebold';
  src: url('./asset/norse-bold-webfont.woff2') format('woff2'),
       url('./asset/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.body {
  width: var(--main-width);
  display: flex;
}

h3, p, label, button {
  font: 1em monospace;
  text-align: left;
}

form {
  width: calc(100% - 40%);
  height: var(--main-height);
  display: flex;
  flex-direction: column;
  float: right;
}
.intro {
  background-color: rgb(236, 240, 240);
  padding: 30px 20px;
  height: minmax(calc(var(--main-height) - 80%), 1fr);
  width: auto;
}
.main-form .title {
  width: 50vw;
  padding-bottom: 20px;
}
.main-form {
  background-color: rgba(243, 239, 239, 0.445);
  padding: 10px;
  flex-grow: 1;
  height: minmax(calc(var(--main-height) - 40%), 1fr);
}
.mainF {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 50px;
}
.mainF div {
  display: grid;
}

.submit {
  background-color: rgb(236, 240, 240);
  padding: 20px;
  height: 50%;
  width: auto;
}
.submit p {
  padding-top: 20px;
}
.icon {
  background-color: rgba(8, 33, 2, 0.6);
  position: absolute;
  top: calc(100vh / 5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
}
.image {
  height: var(--main-height);
  width: 40%;
  float: left;
  position: relative;
}
.icon img {
  width: 80px;
  height: 80px;
  padding: 10px;
}
.icon h2 {
  font-size: 3rem;
  font-family: 'norsebold', monospace;
  color: white;
  align-self: center;
}

a {
  text-decoration: none;
  color:rgb(8, 33, 2);
  font-weight: bold;
}
a:hover {
  color: rgba(8, 33, 2, 0.6);
  cursor: default;
}

button {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #214a2d;
}

button:hover {
  background-color: rgba(8, 33, 2, 0.6);
  transition-duration: 0.1s;
}

input, .input {
  border: 1px solid #000;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border-color: red;
  box-shadow: 1px 1px #888888;
}
input:valid, .valid {
  border-color: green;
}
.invalid {
  border-color: red;
}
