.image {
  height: 100vh;
  width: 50vw;
  position: relative;
}

.icon {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: calc(100vh / 5);
  display: flex;
  justify-content: center;
  width: 50vw;
}
.icon img {
  width: 100px;
}