:root {
  --main-height: 100vh;
  --main-width: 100vw;
}


@font-face {
  font-family: 'norsebold';
  src: url('norse-bold-webfont.woff2') format('woff2'),
       url('norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h3, p, label, button {
  font: 1em monospace;
  text-align: left;
}

form {
  width: calc(100% - 40%);
  height: var(--main-height);
  float: right;
  margin: 0;
}
.intro {
  background-color: rgb(236, 240, 240);
  padding: 30px 20px 0px 20px;
  margin: 0;
  height: calc(var(--main-height) - 80%);
  width: auto;
}
.main-form .title {
  width: 50vw;
  margin: 0;
}
.main-form {
  background-color: rgba(243, 239, 239, 0.445);
  padding: 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: calc(var(--main-height) - 58%);
  width: auto;
  gap: 10px;
}
.main-form div {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 0px;
  width: auto;
  /* height: min(40vh, 100%); */
}

.submit {
  background-color: rgb(236, 240, 240);
  padding: 20px;
  margin: 0;
  height: calc(var(--main-height) - 80%);
  width: auto;
}
.icon {
  background-color: rgba(8, 33, 2, 0.6);
  position: absolute;
  top: calc(100vh / 5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 39.49%;
}
.image {
  height: var(--main-height);
  width: 40%;
  float: left;
  position: relative;
}
.icon img {
  width: min(80px, 100%);
  height: min(80px, 100%);
  padding: 10px;
}
.icon h2 {
  font-size: 6rem;
  font-family: 'norsebold', monospace;
  color: white;
  margin: 0;
  align-self: center;
}

form div {
  margin-left: 40px;
}

button {

  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #214a2d;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

button:hover {
  background-color: #0f5d25;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

input {
  border: 2px solid #000;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}
input:focus {
  border-color: rgb(113, 133, 180);
}
input:valid {
  border-color: green;
}
input:invalid:required {
  border-color: red;
}